<div class="main-content">
  <div class="container-fluid">
<div class="row">
  <div class="container">
      <div class="title">Ajouter un candidat</div>
      <div class="content">
        <div class ="myForm" *ngIf="candidatAjoute==true">
          <br>
          <h3>
            <mat-icon>check_circle_outline</mat-icon> Ajout avec succées 
          </h3>
        <hr>
          <p> Le candidat <strong>Foulen </strong>a été bien inscrit à notre plateform : <!--{{candidat.lastName}} {{candidat.name}} -->
              un mail a été envoyer à ce candidat | (son adresse e-mail) pour son authentification
          </p>
          <hr>
          <button pButton pRipple label="Retour" icon="pi pi-arrow-circle-left" class="p-button-text"  routerLink="/candidats/list"></button> <!--(click)="retour()"-->
          <button pButton pRipple label="Ajouter un autre candidat" icon="pi pi-user-plus" class="p-button-text" (click)="ajouterCandidat()"></button>
      </div>
        <form action="#" *ngIf="candidatAjoute==false"> 
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nom</span>
              <input type="text" placeholder="Entrer son nom" [(ngModel)]=" candidat.lastName">
            </div>
            <div class="input-box">
              <span class="details">Prenom</span>
              <input type="text" placeholder="Entrer son prenom" [(ngModel)]=" candidat.name">
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter son email" required [(ngModel)]=" candidat.email">
            </div>
            <div class="input-box">
              <span class="details">Carte d'identité</span>
              <input type="text" placeholder="Entrer son code cin" required [(ngModel)]=" candidat.username">
            </div>
            <div class="input-box">
              <span class="details">numero de telephone</span>
              <input type="text" placeholder="Entrer son numero de telephone" [(ngModel)]=" candidat.numTel">
            </div>
            <div class="input-box" >
              <span class="details">Specialité</span>
              <p-multiSelect [options]="listSpecialites" [(ngModel)]="candidat.specialites" defaultLabel="Selectionner specialité(s)" optionLabel="titre" selectedItemsLabel="{0} items selected" required ></p-multiSelect>
            </div>
          
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" >
            <input type="radio" name="gender" id="dot-2">
            <span class="gender-title">Genre</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Homme</span>
            </label> 
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Femme</span>
            </label>
            </div>
          </div>
      </div>
          <div class="button">
            <input type="submit" value="Register" (click)="saveCandidat()">
          </div>
        </form>

      </div>
    </div>
  </div>
  </div></div>
