<p-toast></p-toast>
<div class="stepsdemo-content">
    <p-card style="text-align: center;">
        <ng-template pTemplate="title">
            Confirmation
        </ng-template>
        <ng-template pTemplate="subtitle">
            Verifier vos données 
        </ng-template>
        
        <ng-template pTemplate="content">
            <div class="field col-12">
                <div class="circle" *ngIf="formateur.photo && !imgURL">
                    <div *ngFor="let file of fileInfos | async">
                      <p *ngIf="testImage(file.type) && file.name == formateur.photo">
                        <img class="profile-pic" [src]="file.url" />
                      </p>
                    </div>
                  </div>
            </div>
            <div class="field col-12">
                <label for="class"></label>
                <b>&nbsp;{{formateur.lastName}} {{formateur.firstName}}</b>
            </div>
            <div class="field col-12">
                <span style="color:grey;font-size: 16px;font-family: Bradley Hand ITC;font-weight: bold;">&nbsp;{{formateur.bio}}</span>
            </div>
            <div class="field col-12">
                <label for="cin">CIN : </label>
                <b>&nbsp;{{formateur.username}}</b>
            </div>
            <div class="field col-12">
                <label for="email">Adresse e-mail : </label>
                <b>&nbsp;{{formateur.email}}</b>
            </div>
            <div class="field col-12">
                <label for="numTel">Numero de Telephone : </label>
                <b>&nbsp;{{formateur.numTel}}</b>
            </div>
            <div class="field col-12">
                <label for="dateNaiss">Date de Naissance : </label>
                <b>&nbsp;{{formateur.dateNaiss}}</b>
            </div>
            <div class="field col-12">
                <label for="etab">Etablissement : </label>
                <b>&nbsp;{{formateur.etablissement}}</b>
            </div>
            <div class="field col-12">
                <label for="Age">Specialité(s) : </label>
                <b>
                    <div *ngFor="let spec of formateur.lesSpecialites">
                        <span> - {{spec.titre}}</span>
                    </div>
                </b>
            </div>
            <div class="field col-12">
                <label for="Age">Genre : </label>
                <b> &nbsp;{{formateur.genre.name}}</b>
            </div>
            <div class="field col-12">
                <label for="Age">CV : </label>
                <b>&nbsp;
                    <span *ngFor="let file of fileInfos | async">
                        <p class="list-group-item" *ngIf="file.name == formateur.cv">
                          <a href="{{ file.url }}"> <i class="pi pi-download"></i> {{ file.name }}</a>
                        </p>
                      </span>
                </b>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <button pButton label="" (click)="prevPage()" icon="pi pi-arrow-left" class="p-button-help p-button-outlined"></button>&nbsp;&nbsp;
                <button pButton label="Confirmer" (click)="complete()" icon="pi pi-check-circle" iconPos="right" class="p-button-success"></button>
            </div>
        </ng-template>
    </p-card>
</div>

