<p-toast></p-toast>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-raised p-button-text mr-2" (click)="openNew()" ></button>
                    </ng-template>
            
                    <ng-template pTemplate="right">
                        <div class="flex">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                        </div>
                    </ng-template>
                </p-toolbar>
                <p-dataView #dv [value]="sessions" [paginator]="true" [rows]="9" filterBy="titreSession"
                    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" dataKey="idSession">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                            </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
                    <ng-template let-session pTemplate="listItem" let-expanded="expanded">
                        <div class="col-12">
                            
                            <div class="session-list-item">
                                <a href="#" [pRowToggler]="session">
                                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                                </a>
                                <img src="../../../../assets/img/angular.png"  [alt]="session.titreSession"/> <!--[src]="'assets//images/demo/session/' + session.image"-->
                                <div class="session-list-detail">
                                    <div class="session-name">{{session.titreSession}}</div>
                                    <div class="session-description">{{session.descriptionSession}}</div>
                                    <p-rating [ngModel]="2.5" [readonly]="true" [cancel]="false"></p-rating>
                                    <i class="pi pi-tag session-category-icon"></i><span class="session-category">cateegory</span>
                                </div>
                                <div class="session-list-action">
                                    <span class="session-price" pTooltip="nb">$22222</span>
                                    <div>
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-outlined p-button-success mr-2" (click)="editSession(session)"></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-outlined p-button-danger" (click)="deleteSession(session)"></button>
                                        </div><span [ngStyle]="{'background-color':getColor(session.nivDifficulte)}" [class]="'product-badge status-' + session.nivDifficulte.toLowerCase()" >{{session.nivDifficulte}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-session>
                        <tr>
                            <td colspan="7">
                                <div class="p-p-3">
                                    <p-table [value]="listeFormations" dataKey="id">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>
                                                <th pSortableColumn="customer">name <p-sortIcon field="customer"></p-sortIcon></th>
                                                <th pSortableColumn="date">lastName <p-sortIcon field="date"></p-sortIcon></th>
                                                <th pSortableColumn="amount">departement<p-sortIcon field="amount"></p-sortIcon></th>
                                                <th pSortableColumn="stats">Classe <p-sortIcon field="status"></p-sortIcon></th>
                                                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-order>
                                            <tr>
                                                <td>{{order.id}}</td>
                                                <td>{{order.name}}</td>
                                                <td>{{order.lastName}}</td>
                                                <td>{{order.departement}}</td>
                                                <td>{{order.classe}}</td>
                                                
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="6">There are no order for this product yet.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template let-session pTemplate="gridItem">
                        <div class="p-col-12 p-md-4">
                            <div class="session-grid-item card" style="background-color: rgba(246, 235, 227, 0.382);">
                                <div class="session-grid-item-top">
                                    <div>
                                        <i class="pi pi-users session-category-icon"></i>
                                        <span class="session-category">M. MTIR Mehdi</span>
                                        
                                    </div>
                                    <span [ngStyle]="{'background-color':getColor(session.nivDifficulte)}" style="font-size: small;"><strong>&nbsp;{{session.nivDifficulte}}&nbsp;</strong></span>
                                </div>
                                <div class="session-grid-item-content">
                                    <img src="../../../../assets/img/angular.png"/>
                                    <div class="session-name">{{session.titreSession}}</div>
                                    <div class="session-description">{{session.descriptionSession}}</div>
                                    <p-rating [ngModel]="2.5" [readonly]="true" [cancel]="false"></p-rating>
                                </div><br>
                                <div class="session-grid-item-bottom">
                                    <span class="session-price" pTooltip="nombre des candidats" tooltipPosition="bottom" >10</span>
                                    <div>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-outlined p-button-success mr-2" (click)="editSession(session)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-outlined p-button-danger" (click)="deleteSession(session)"></button>
                                    </div>
                                    <!--  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editsession(formation)"></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFormation(formation)"></button>
                                    [disabled]="session.inventoryStatus === 'OUTOFSTOCK'"-->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>

            <p-dialog [(visible)]="sessionDialog" [style]="{width: '450px'}" header="Session Details" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="name">Titre</label>
                        <input type="text" pInputText id="titre" [(ngModel)]="session.titreSession" required autofocus />
                        <small class="p-error" *ngIf="submitted && !session.titreSession">titre est requis.</small>
                    </div><br>
                    <div class="field">
                    <!--<p-fileUpload mode="basic" accept="image/*" label="Import" chooseLabel="Ajouter une image" class="p-mr-2 p-d-inline-block" (onUpload)="onUpload($event)">
                    </p-fileUpload>-->
                    <div class="field">
                        <label for="file" class="label-file"><i class="pi pi-external-link"></i> Ajouter une image</label>
                          <input pFileUpload type="file" id="file" class="input-file" accept="image/*" label="Import" chooseLabel="Ajouter une image" (change)="onUpload($event)" [(ngModel)]="session.photoSession">
                          <br>
                          </div>
                    <div *ngIf="imgURL && !session.idSession">
                        <img [src]="imgURL" height="150">    
                    </div>
                    <div *ngIf="session.photoSession">
                      <div *ngFor="let file of fileInfos | async">
                        <p class="list-group-item" *ngIf="testImage(file.type) && file.name == session.photoSession">
                          <img [src]="file.url" height="150">
                        </p></div>   
                  </div>
                    <div *ngIf="currentFile" class="progress">
                      <div
                        class="progress-bar progress-bar-info progress-bar-striped"
                        role="progressbar"
                        attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }">
                        {{ progress }}%
                      </div>
                    </div>
                    <button class="btn btn-success" [disabled]="!selectedFile" (click)="upload()">
                      Upload
                    </button>
                    <div class="alert alert-light" role="alert" *ngIf="message != ''">{{ message }}</div>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" pInputTextarea [(ngModel)]="session.descriptionSession" required rows="3" cols="20"></textarea>
                    </div>
                        <div class="field">
                            <label for="nbMaxCandidat">nombre maximal des candidats</label>
                            <input type="number" pInputText id="nbMaxCandidat" [(ngModel)]="session.nbMaxCandidat" required autofocus  />
                            <small class="p-error" *ngIf="submitted && !session.nbMaxCandidat">nombre maximal des candidats est requis.</small>
                        </div>
                        <div style="display: flex;">
                        <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                        <p-multiSelect [options]="listeFormations" [(ngModel)]="session.formationSession" [selectionLimit]="1" optionLabel="titre" defaultLabel="Choisir votre formation" display="chip">
                                                <ng-template let-formation pTemplate="item">
                                                    <div style="display:flex;">
                                                        <div *ngFor="let file of fileInfos | async">
                                                            <p class="list-group-item" *ngIf="testImage(file.type) && file.name == formation.image">
                                                              <img [src]="file.url" width="100" class="shadow-4" style="width: 45px;"/>
                                                            </p>
                                                          </div>
                                                        <div style="margin-top: 10%;">{{formation.titre}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                    
                  
                  <small class="p-error" *ngIf="submitted && !session.formationSession">formation est requis.</small>
                </div><br>
                    <label> niveau de difficulté </label>
                    <div *ngFor="let niv of nivDifficulte" class="field-checkbox">
                        <p-radioButton name="nivDiff" [value]="niv" [(ngModel)]="session.nivDifficulte" ></p-radioButton>
                        <label for="nivDiff" style="color: black;">&nbsp;{{niv}}</label>
                    </div>
                    <small class="p-error" *ngIf="submitted && !session.nivDifficulte">niveau de difficulté est requis.</small>
                    <label>Les Formateurs de cette formation :</label>
                   <div class="field col-8" style="text-align: center;">
                     <button pButton pRipple label="Ajouter Formateurs" icon="pi pi-user-plus" class="p-button-outlined"  (click)="suivantSession()" ></button>
                    <small class="p-error" *ngIf="submitted && !selectedFormateurs">un formateur au minimum est requis.</small>
                </div>
                <div class = "field" *ngIf="names">
                    <ul *ngFor="let n of names">
                        <li>{{n}}</li>
                    </ul>
                </div>
                <!--Lieux-->
               
                    <label for="lieux">Lieux de la formation</label>
                    <div>
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                          <input type="text" pInputText id="lieux" [(ngModel)]="session.lieuxSession"/>
                              
                      </div>
                      <small class="p-error" *ngIf="submitted && !session.lieuxSession">le lieux du Session est requis.</small>
                  </div>
                
                <div style="display: flex;">
                    <div class="field col-6">
                        <label for="dbDate">Date debut</label>
                        <p-calendar [(ngModel)]="session.dateDebSession" [minDate]="minDate" [showIcon]="true" [readonlyInput]="true" inputId="dbDate"></p-calendar>
                        <small class="p-error" *ngIf="submitted && !session.dateDebSession">date début est requis</small>
                    </div>
                    <div class="field col-6">
                        <label for="finDate">Date Fin</label>
                        <p-calendar [(ngModel)]="session.dateFinSession" [minDate]="session.dateDebSession" [showIcon]="true" [readonlyInput]="true" inputId="finDtate" [disabled]=" !session.dateDebSession"  ></p-calendar>
                        <small class="p-error" *ngIf="submitted && !session.dateFinSession">date fin est requis.</small>
                    </div>

                </div>
                <div *ngIf="session.dateFinSession">

                </div>
            </ng-template>
            
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="saveSession()"></button>
               
               
                </ng-template>
            </p-dialog>
</div>
    </div></div>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
