<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        ISET Rades Team
                    </a>
                </li>
                <li>
                    <a href="">
                      À propos de nous
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, fait avec amour par
            <a href="" target="_blank">Team Iset Rades</a> pour un meilleure site Web
        </div>
    </div>
</footer>
