<p-toast></p-toast>
<div class="main-content">
        <div class="container-fluid">
            <div class="row">
    <div class="card">
  <!--
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
        </p-toolbar>
                <p-table #dt [value]="formations" [rows]="10" [paginator]="true" [globalFilterFields]="['titre','chargeHorraire','categorie','niveau de difficulté']" responsiveLayout="scroll"
            [(selection)]="selectedFormations" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    -->

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-sm p-button-raised p-button-success mr-2" (click)="openNew()" ></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-sm p-button-raised p-button-danger mr-2" (click)="deleteSelectedFormations()" [disabled]="!selectedFormations || !selectedFormations.length"></button>
            <button pButton pRipple label="Liste Categories" icon="pi pi-list" class="p-button-sm p-button-raised p-button-warning mr-2" (click)="gestionCategorie()"></button>
        </ng-template>
        <ng-template pTemplate="center"></ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Export Excel" (click)="exportexcel()" icon="pi pi-upload" class="p-button-sm p-button-raised p-button-help mr-2"></button>
            <button  pButton pRipple label="Export PDF" (click)=" exportoPdf()" icon="pi pi-upload" class="p-button-sm p-button-raised p-button-danger"></button>

        </ng-template>
    </p-toolbar>

        <p-table id="excel-table" #dt [value]="formations" [rows]="6" [paginator]="true" [globalFilterFields]="['titre','charge_horaire','listCategories']" responsiveLayout="scroll"
        [(selection)]="selectedFormations"  [rowHover]="true" dataKey="idFormation"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div style="display:flex ;">
                <h2>Gestion des formations</h2>
                <span class="p-input-icon-left" style="margin-left: auto;margin-right: 0px;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>

        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="titre">Titre <p-sortIcon field="titre"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="charge_horaire">Charge Horraire <p-sortIcon field="charge_horaire"></p-sortIcon></th>
                    <th pSortableColumn="listCategories">Categorie <p-sortIcon field="listCategories"></p-sortIcon></th>
                    <th>Detail</th>
                    <th></th>
                </tr>
            </ng-template>
                <ng-template pTemplate="body" let-formation>
                    <tr>
                   <td>
                       <p-tableCheckbox [value]="formation"></p-tableCheckbox>
                   </td>
                   <td>{{formation.titre}}</td>
                   <td>
                         <div *ngFor="let file of fileInfos | async">
                          <p class="list-group-item" *ngIf="testImage(file.type) && file.name == formation.image">
                            <img [src]="file.url" width="100" class="shadow-4"/>
                          </p>
                        </div>
                    </td>

                   <td>{{formation.charge_horaire}}</td>
                   <td>
                       <ul *ngFor="let categorie of formation.listCategories">
                        <li>{{categorie.titre}}</li>
                       </ul>
                   </td>
                   <td><button pButton class="p-button-text" (click)="readMoreDialog(formation)" icon="pi pi-external-link" label="plus de detail"></button></td>
                   <td>
                     <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFormation(formation)"></button>
                       <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFormation(formation)"></button>
                   </td>
               </tr>




                </ng-template>


          <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total il y'a {{formations ? formations.length : 0 }} formations.

                </div>
            </ng-template>

        </p-table>

    </div>
   <p-dialog [(visible)]="formationDialog" [style]="{width: '450px'}" header="Foramtion Details" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="titre">Titre</label>
                <input type="text" pInputText id="titre" [(ngModel)]="formation.titre" required autofocus />
                <small class="p-error" *ngIf="submitted && !formation.titre.trim()">titre est requis.</small>
            </div><br>
            <div class="field">
            <!--<p-fileUpload mode="basic" accept="image/*" label="Import" chooseLabel="Ajouter une image" class="p-mr-2 p-d-inline-block" (onUpload)="onUpload($event)">
            </p-fileUpload>-->
            <div class="field">
                <label for="file" class="label-file"><i class="pi pi-external-link"></i> Ajouter une image</label>
                  <input pFileUpload type="file" id="file" class="input-file" accept="image/*" label="Import" chooseLabel="Ajouter une image" (change)="onUpload($event)" [(ngModel)]="formation.image">
                  <br>
                  </div>
            <div *ngIf="imgURL && !formation.idFormation">
                <img [src]="imgURL" height="150">
            </div>
            <div *ngIf="formation.image">
              <div *ngFor="let file of fileInfos | async">
                <p class="list-group-item" *ngIf="testImage(file.type) && file.name == formation.image">
                  <img [src]="file.url" height="150">
                </p></div>
          </div>
            <div *ngIf="currentFile1" class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress1 }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress1 + '%' }">
                {{ progress1 }}%
              </div>
            </div>
            <button class="btn btn-success" [disabled]="!selectedFiles1" (click)="upload1()">
              Upload
            </button>
            <div class="alert alert-light" role="alert" *ngIf="message1 != ''">{{ message1 }}</div><br><br>
            </div>

            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="formation.details" required rows="3" cols="20"></textarea>
            </div>


            <div class="field">
                <label class="mb-3">Categorie</label>
                <!--<input type="text" pInputText id="categorie" [(ngModel)]="cat" required autofocus />-->
                <div style="display: flex;">
                <p-multiSelect [options]="categories" [(ngModel)]="formation.listCategories" defaultLabel="Select a categorie" optionLabel="titre" selectedItemsLabel="{0} items selected" [style]="{maxWidth: '200px'}" required></p-multiSelect>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <button pButton pRipple type="button" class="p-button-outlined" icon ="pi pi-plus-circle" label="autre" (click)="openCategorie()"></button>
               </div>
                <small class="p-error" *ngIf="submitted && !formation.listCategories">categorie est requis.</small>
                <!--<div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category1" name="category" value="DevWeb" [(ngModel)]="formation.categorie"></p-radioButton>
                        <label for="category1">DEV WEB</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category2" name="category" value="DevMobile" [(ngModel)]="formation.categorie"></p-radioButton>
                        <label for="category2">DEV MOBILE</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category2" name="category" value="DevMobile" [(ngModel)]="formation.categorie"></p-radioButton>
                        <label for="category3">autre</label>
                    </div>
                </div>-->
            </div>

                <div class="field">
                    <label for="chargeHorraire">charge Horraire</label>
                    <input type="text" pInputText id="chargeHorraire" [(ngModel)]="formation.charge_horaire" required autofocus />
                    <small class="p-error" *ngIf="submitted && !formation.charge_horaire.trim()">charge Horraire est requis.</small>
                </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFormation()"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="categorieDialog" [style]="{width: '450px'}" header="Ajouter Categorie" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="titre">Titre</label>
                <input type="text" pInputText id="titre" [(ngModel)]="c.titre" required autofocus />
                <small class="p-error" *ngIf="submitted1 && !c.titre">titre est requis.</small>
            </div><br>
            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="c.description" required rows="3" cols="20"></textarea>
            </div>
    
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCategorie()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCategorie(c)"></button>
        </ng-template>
    </p-dialog>


</div>
</div>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog header="{{titreDetail}}" [(visible)]="displayReadMore" [style]="{width: '350px'}">

    <p>{{detailForm}}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayReadMore=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- -->
<!--<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Optional custom content that replaces the the entire default content.
            <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button mat-button (click)="uploadVideo()" >Upload Video</button>
</div>-->
