<!--<button type="button" routerLink="['/titresite/session/6']"></button>-->

<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Formation-iset rades</title>
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
-->

</head>
<body>
<app-nav-bar></app-nav-bar>

<router-outlet>
</router-outlet>


<!--
<app-formations-viewer></app-formations-viewer>
-->
<!--<app-home-details></app-home-details>-->
<!--
<app-candidat-register></app-candidat-register>
-->

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</html>
