

<div class="main-content">
    <div class="container-fluid">
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
        <div style="display: flex;">
        <button pButton pRipple label="Gestion Departement" icon="pi pi-list" class="p-button-sm p-button-raised mr-2" (click)="gestionDepartement()"></button>
        <button pButton pRipple label="Gestion Classe" icon="pi pi-list" class="p-button-sm p-button-raised mr-2" (click)="gestionClasse()"></button>
    </div> <p-organizationChart [value]="data1" style="position: static;" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
            styleClass="company">
            <ng-template let-node pTemplate="person" >
                <div class="node-header">{{node.label}}</div>
                <div class="node-content"> 
                  <img src="assets/img/{{node.data.avatar}}" width="100%">
                  <div>{{node.data.name}}</div>
              </div>
          </ng-template>
          <ng-template let-node pTemplate="department" style="display: flex;">
              {{node.label}}
          </ng-template>
          
      </p-organizationChart>


  </div></div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
