:host ::ng-deep .p-organizationchart {
    .p-person {
        padding: 0;
        border: 0 none;
        width: 13%;
    }


    .node-header {
        background-color: #758fff;
        color: #ffffff;
    }

    .node-content {
        text-align: center;
        border: 1px solid #495ebb;
    }

    .department-cfo {
        background-color: #939aff;
        color: #ffffff;
    }

    .department-coo {
        background-color: #a534b6;
        color: #ffffff;
    }

    .department-cto {
        background-color: #e9286f;
        color: #ffffff;
    }
}