:host ::ng-deep .p-organizationchart {
    .company{
width: 20px;
    }
    .p-person {
        padding: 0;
        border: 0 none;
        width: 5%;
        
    }
.classe-style{
        font-size: 13px;
        width: auto;
        padding: 10px;
        margin: 0;
        display: block;
}

    .node-header {
        background-color: #758fff;
        color: #ffffff;
    }

    .node-content {
        text-align: center;
        border: 1px solid #495ebb;
    }

    .department-cfo {
        background-color: #7780fd;
        color: #ffffff;
        font-size: 13px;
        width: auto;
        padding: 10px;
        margin: 0;

    }
    .department-cfo .ui-node-toggler {
        color: #8a0a39 !important;
    }

    .department-coo {
        background-color: #a534b6;
        color: #ffffff;
    }

    .department-cto {
        background-color: #e9286f;
        color: #ffffff;
    }
}

