<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Photo
        </ng-template>
        <ng-template pTemplate="subtitle">
            Entrer votre photo de profile
        </ng-template> 
        <ng-template pTemplate="content">
            <div class="field">
                <div class="circle" *ngIf="formateur.photo == '' && !imgURL">
                    <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                  </div>
                  <div class="circle" *ngIf="imgURL">
                    <img class="profile-pic" [src]="imgURL" height="150" alt="aaaaaaaaa">
                  </div>
                 <div class="circle" *ngIf="formateur.photo && !imgURL">
                  <div *ngFor="let file of fileInfos | async">
                    <p *ngIf="testImage(file.type) && file.name == formateur.photo">
                      <img class="profile-pic" [src]="file.url" />
                    </p>
                  </div>
                </div>
                  <label for="file" class="p-image"><i class="fa fa-camera upload-button"></i></label>
                      <input  type="file" id="file" class="file-upload" accept="image/*" (change)="onUpload($event)">
            
                      <div *ngIf="currentFile" class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progress + '%' }">
                  {{ progress }}%
                </div>
              </div>
              <button class="btn btn-success" [disabled]="!selectedFile" (click)="upload1()">
               Télécharger
              </button>
              <div class="alert alert-light" role="alert" *ngIf="message != ''">{{ message }}</div>
              </div>
            <!--<div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="class">Class</label>
                    <p-dropdown inputId="class" [(ngModel)]="seatInformation.class" [options]="classes" (onChange)="setVagons($event)" optionLabel="name" placeholder="Select a Class"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="wagon">Wagon</label>
                    <p-dropdown inputId="wagon" [(ngModel)]="seatInformation.wagon" [options]="vagons" (onChange)="setSeats($event)" optionLabel="wagon" placeholder="Select a Wagon"></p-dropdown>
                </div>
                <div class="field col-12">
                    <label for="seat">Seat</label>
                    <p-dropdown inputId="seat" [(ngModel)]="seatInformation.seat" [options]="seats" optionLabel="seat" placeholder="Select a Seat"></p-dropdown>
                </div>
            </div>-->
       <div class="field">
        <span class="p-float-label">
          <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="formateur.bio"></textarea>
          <label for="float-input">A propos de vous</label>
      </span>
       </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
              <button pButton label="" (click)="prevPage()" icon="pi pi-arrow-left" class="p-button-help p-button-outlined"></button>&nbsp;&nbsp;
              <button pButton label="" (click)="nextPage()" icon="pi pi-arrow-right" iconPos="right" class="p-button-help p-button-outlined"></button>
            </div>
        </ng-template>
    </p-card>
</div>
