<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <div *ngFor="let file of fileInfos | async">
                            <p *ngIf="testImage(file.type) && file.name == session.photoSession">
                              <img [src]="file.url"/>
                            </p>
                      </div>
                    </div>
                    <div class="article-title">
                        <h6><a href="#">Session</a></h6>
                        <h2>{{session.titreSession}}</h2>
                        <div class="media">
                            <div style="display : flex" >
                            <div style="width: 10%;margin-left: 15%;margin-right: 3%;margin-bottom: 3%;">
                                <img src="../../../../assets/img/timetable.png" title="" alt="">
                            </div>
                            <div class="media-body" style="display: flex;margin-top: 1%;text-align: center;">
                                <br>
                            <div style="margin-right: 3%; ">
                                <label style="font-size: 16x;">Date Debut</label>
                                <span style="font-size: 13px;">{{session.dateDebSession}}</span>
                            </div>
                            <div style="margin-right: 3% ; ">
                                <label style="font-size: 16px;">-</label>
                                <span style="font-size: 13px;">-</span>
                            </div>
                            <div>
                                <label style="font-size: 16px;">Date Fin</label>
                                <span style="font-size: 13px;">{{session.dateFinSession}}</span>
                            </div>
                            </div>

                        </div>
                        <div style="display : flex;">
                            <div style="width: 10%;margin-left: 3%;margin-right: 3%;margin-bottom: 3%;">
                                <img src="../../../../assets/img/place.png" title="" alt="">
                            </div>
                            <div class="media-body" style="display: flex;margin-top: 1%;text-align: center;">
                                <br>
                            <div style="margin-right: 3%; ">
                                <label style="font-size: 16px;">Lieu</label>
                                <span style="font-size: 13px;">{{session.lieuSession}}</span>
                            </div>
                            
                            </div>
                            
                        </div>
                        </div>
                        

                    </div>
                    <div class="article-content">
                        <p>{{session.descriptionSession}}</p>
                      </div>

                </article>
                <div class="article">
                    <div class="article-title">
                        <h6><a href="#">PLANNING</a></h6>
                        <button pButton pRipple type="button" icon="pi pi-plus" label="Ajouter" class="p-button-raised p-button-text" (click)="ajouterPlanning()"></button>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-timeline4">
                                    <div class="timeline" *ngFor="let pp of session.planning | keyvalue">
                                        <span class="timeline-icon"></span>
                                        <div class="year" style="display: flex;">  
                                            <span pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text" style="color: rgb(244, 244, 248);" (click)="UpdatePlanning(pp.key,pp.value)"></span> 
                                            <p style="margin : 13px 10px 0 0;">{{pp.key}} </p>
                                             <span pButton pRipple icon="pi pi-minus-circle" class="p-button-rounded p-button-text" style="color: rgb(110, 0, 0);" (click)="deletePlanning(pp.key)"></span>
                                        </div>
                                        <div class="timeline-content">
                                            <p class="description">
                                            {{pp.value}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
                    </div>
                    <p-dialog [(visible)]="planningDialog" [style]="{width: '450px'}" header="Ajouter Categorie" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
                        <ng-template pTemplate="content">
                            <div class="field">
                                <label for="titre">Titre</label>
                                <input type="text" pInputText id="titre" [(ngModel)]="titre" required autofocus maxlength="15"/>
                                <small class="p-error" *ngIf="submitted && !c.titre">titre est requis.</small>
                            </div><br>
                            <div class="field">
                                <label for="description">Description</label>
                                <textarea id="description" pInputTextarea [(ngModel)]="description" required rows="3" cols="20"></textarea>
                            </div>
                    
                        </ng-template>
                    
                        <ng-template pTemplate="footer">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hidePlanning()"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePlanning()"></button>
                        </ng-template>
                    </p-dialog>
                </div>
                <article class="article">
                    <div class="article-title">
                        <button pButton pRipple type="button" label="enregistrer les modifications" icon="pi pi-check-circle" class="p-button-success p-button-text" style="float: right;"></button>
                        <h6><a href="#">Informations supplémentaires</a></h6>
                        
                        <div *ngIf="!session.programme">
                     
                      
                                <label class = "label-file"><i class="pi pi-external-link"></i> Exporter le programme (PDF)
                                  <input type="file" class="input-file" accept="application/pdf" (change)="selectFile($event)"/>
                                </label>
                <br>
                                <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="upload()">
                                    <i class="pi pi-plus-circle"></i> Upload
                                </button>
                            </div>
                                <div *ngIf="currentFile" class="progress">
                                  <div
                                    class="progress-bar progress-bar-info progress-bar-striped"
                                    role="progressbar"
                                    attr.aria-valuenow="{{ progress }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ width: progress + '%' }">
                                    {{ progress }}%
                                  </div>
                                  <div class="alert alert-light" role="alert" *ngIf="message != ''">{{ message }}</div>
                                </div>
                        <div *ngIf="session.programme">
                            <h4>Importer le programme (PDF)</h4>
                        <div *ngFor="let file of fileInfos | async">
                            <p class="list-group-item" *ngIf="file.name == session.programme">
                              <a href="{{ file.url }}"> <i class="pi pi-download"></i> {{ file.name }}</a>
                            </p>
                          </div>
                        </div>
                        <div class="media">
                            <div style="width: 5%;margin-left: 5%;margin-right: 5%;margin-bottom: 3%;">
                                <img src="../../../../assets/img/timetable.png" title="" alt="">
                            </div>
                            <div class="media-body" style="display: flex;margin-top: 3%;text-align: center;">
                                <br>
                            <div style="margin-right: 10% ; ">
                                <label style="font-size: 20px;">Date Debut</label>
                                <span style="font-size: 15px;">{{session.dateDebSession}}</span>
                            </div>
                            <div style="margin-right: 10% ; ">
                                <label style="font-size: 20px;">-</label>
                                <span style="font-size: 15px;">-</span>
                            </div>
                            <div>
                                <label style="font-size: 25px;">Date Debut</label>
                                <span style="font-size: 15px;">{{session.dateFinSession}}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>{{session.descriptionSession}}</p>
                      </div>

                </article>
            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3>Formateurs</h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center" *ngFor="let f of session.listeFormateurs">
                            <div class="avatar">
                                <div *ngFor="let file of fileInfos | async">
                                    <p *ngIf="testImage(file.type) && file.name == f.photo">
                                      <img [src]="file.url"/>
                                    </p>
                              </div>
                            </div>
                            <div class="media-body">
                                <h6><br> {{f.lastName}} {{f.firstName}}</h6>
                            </div>
                        </div>
                        <p>le(s) formateur(s) de cette session </p>
                    </div>
                </div>
                <!-- End Author -->
                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Formation</h3>
                    </div>
                    <div class="widget-body">

                    </div>
                </div>
                <!-- End Trending Post -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Session similaire</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Categories</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud" *ngFor="let c of session.formationSession.listCategories">
                            <a>{{c.titre}}</a>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</div>
