<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Responsive Video Playlist Using HTML CSS &amp; JavaScript</title>


</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en pt-br">
<head>





</head>
<body>

<div class="container">

  <div class="main-video-container">
<img src="">
    <video src="../../../../../assets/video/Spring Boot + Spring Security + JWT from scratch - Java Brains-X80nJ5T7YpE.mp4" loop controls class="main-video"></video>
    <h3 class="main-vid-title">Adoradores - Ao olhar pra cruz</h3>
    <h3 class="main-vid-title">What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h3>
  </div>

  <div class="video-list-container">

    <div class="list active">
      <video src="../../../../../assets/video/Spring Boot + Spring Security + JWT from scratch - Java Brains-X80nJ5T7YpE.MP4" type="video/mp4" class="list-video"></video>
      <h3 class="list-title">ADORADORES 1 - TEU SANTO NOME</h3>
    </div>

    <div class="list">
      <video src="" type="video/mp4" class="list-video"></video>
      <h3 class="list-title">Julia Vitoria e Fernanda Madaloni - Tuas Águas (Acustico Ao Vivo)</h3>
    </div>

    <div class="list">
      <video src="" type="video/mp4" class="list-video"></video>
      <h3 class="list-title">ADORADORES 1 - NÃO HÁ O QUE TEMER</h3>
    </div>

    <div class="list">
      <video src="" type="video/mp4"class="list-video"></video>
      <h3 class="list-title">Ministério Zoe - Aquieta Minh'alma (Video Oficial)</h3>
    </div>



  </div>

</div>















<!--- Custom JS file link --->




</body>
</html>
<!-- partial -->


</body>
</html>
