<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Pour votre sécurité
        </ng-template>
        <ng-template pTemplate="subtitle">
            changez votre mot de passe
        </ng-template>
        <ng-template pTemplate="content">
      <!-- <div class="field">
           <label>Entrez votre ancien mot de passe</label><br>
        <p-password [(ngModel)]="value1" [feedback]="false"></p-password>
       </div>-->
       <div class="field">
           <label>Nouveau mot de passe</label><br>
        <p-password [(ngModel)]="password" [toggleMask]="true" required #pass="ngModel">
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2"><strong>au minimum :</strong> </p>
                <ul class="pl-2 ml-1 mt-0" style="line-height: 1.3; font-size: small;">
                    <li>un caractére minuscule</li>
                    <li>un caractére majuscule</li>
                    <li>un caractére numerique</li>
                    <li>8 caractéres</li>
                </ul>
            </ng-template>
        </p-password>
        <small class="p-error" *ngIf="!password && submitted">&nbsp; mot de pass est requis</small>
        <!--<p-message severity="success" *ngIf="pass.valid && !pass.errors"> mot de pass valide</p-message>-->
       </div><br>
       <div class="field">
        <label>Confirmer votre mot de pass </label> <br>
        <p-password [(ngModel)]="password2" [feedback]="false" (keyup)="confirmPass()" [toggleMask]="true" required  #confrimPassword="ngModel"></p-password>
        <small class="p-error" *ngIf="!password2 && submitted">&nbsp;mot de pass est requis</small>
        <p-message severity="success" *ngIf="confrimPassword.valid && confirm"> mot de pass valide</p-message>
        <br><small class="p-error" *ngIf="!confirm">mot de pass incorrecte</small>
        
    </div>
        </ng-template>
        <ng-template pTemplate="footer">
            
            <div class="grid grid-nogutter justify-content-end">
                <button pButton label="" (click)="prevPage()" icon="pi pi-arrow-left" class="p-button-help p-button-outlined"></button>&nbsp;&nbsp;
                <button pButton label="" (click)="nextPage()" icon="pi pi-arrow-right" iconPos="right" class="p-button-help p-button-outlined"></button>
            </div>
        </ng-template>
    </p-card>
</div>