
<p-toast></p-toast> 
<div class="main-content">
  <div class="container-fluid">
<button pButton pRipple type="button"  icon="pi pi-user-plus"  class="p-button-raised p-button-warning p-button-outlined" (click)="openNew(candidat)"></button><!--ajouter()-->
   <!--    <p-splitButton icon="pi pi-user-plus" [model]="items" styleClass="p-button-secondary mb-2"></p-splitButton> --> 
        <br><br>
        <div class="row">
            <!--(onClick)="save('info')"-->
<!--            <div class="col-md-3" *ngFor="let i of counter(5)"><!--*ngFor="let candidat of candidats"-->
  <!-- <div class="card card-chart">
        <div class="card-header">
                <img src="../../../../assets/img/faces/marc.jpg" width="80%" style="position: static;"/>
        </div>
        <div class="card-body" style="display: inline;;">
            <h4 class="card-title">nomcandidatr</h4><!--{{candidat.nom}}
            <p class="card-category">
                specialité : 
            </p>
            <button pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-success mr-2" (click)="editcandidat(candidat)"></button>
            <button pButton pRipple icon="pi pi-user-minus" class="p-button-rounded p-button-warning" (click)="deletecandidat(candidat)"></button>
        </div>
        <div class="card-footer">
            <div class="stats">
               <p> <i class="material-icons">access_time</i> <span class="text-success"><i class="fa fa-long-arrow-up"></i> 50 </span> sessions de formation</p>
               <button pButton pRipple icon="pi pi-plus-circle" class="p-button-rounded p-button-help p-button-text" (click)="readMore(candidat)"></button>
            </div>
        </div>
    </div>
</div>
-->
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                  <tr style="background-color: rgba(235, 215, 172, 0.579);">
                    <th>&emsp;Informations Personnels</th>
                    <th>Specialité</th>
                    <th>Date de Naissance</th>
                    <!--<th>Genre</th>-->
                    <th>Etablissement</th>
                    <th>&emsp;Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of counter(5)">
                        <td>
                          <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                                class="rounded-circle"
                                alt=""
                                style="width: 65px; height: 65px;margin: 10px;margin-right: 20px;"
                                />
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Alex Ray</p>
                              <p class="text-muted mb-0">alex.ray@gmail.com</p>
                               <p class="text-muted mb-0"> 12345678</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">Consultant</p>
                          <p class="text-muted mb-0">Finance</p>
                        </td>
                        <td> 22 dec 2000</td>
                        <td>Junior</td>
                    <td>
                        <button pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-warning p-button-text" (click)="editCandidat(candidat)"></button>
                        <button pButton pRipple icon="pi pi-user-minus" class="p-button-rounded p-button-danger p-button-text" (click)="deleteCandidat(candidat)"></button>
                    
                    </td>
                  </tr>
<!--                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Alex Ray</p>
                          <p class="text-muted mb-0">alex.ray@gmail.com</p>
                           <p class="text-muted mb-0"> 12345678</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Consultant</p>
                      <p class="text-muted mb-0">Finance</p>
                    </td>
                    <td> 22 dec 2000</td>
                    <td>Junior</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                            class="rounded-circle"
                            alt=""
                            style="width: 45px; height: 45px"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1">Kate Hunington</p>
                          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">Designer</p>
                      <p class="text-muted mb-0">UI/UX</p>
                    </td>
                    <td>
                      <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                    </td>
                    <td>Senior</td>
                    <td>
                      <button
                              type="button"
                              class="btn btn-link btn-rounded btn-sm fw-bold"
                              data-mdb-ripple-color="dark"
                              >
                        Edit
                      </button>
                    </td>
                  </tr>-->
                </tbody>
              </table>
              <p-dialog [(visible)]="candidatDialog" [style]="{width: '450px'}" header="candidat Details" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <input pFileUpload type="file" accept="image/*" label="Import" chooseLabel="Ajouter une image" (change)="onUpload($event)" [(ngModel)]="candidat.photo" class="custom-file-upload">
                        <br><br>
                        </div>
                    <div *ngIf="imgURL">
                        <img [src]="'assets/img/candidat/' + candidat.photo" height="150">    
                    </div>
                    <div class="field">
                        <label for="name">CIN</label>
                        <input type="text" pInputText id="cin" [(ngModel)]="candidat.username" required autofocus />
                        <small class="p-error" *ngIf="submitted && !candidat.username">cin is required.</small>
                    </div><br>
                    <div class="field">
                        <label for="name">Nom</label>
                        <input type="text" pInputText id="nom" [(ngModel)]="candidat.lastName" required autofocus />
                        <small class="p-error" *ngIf="submitted && !candidat.lastname">nom is required.</small>
                    </div><br>
                    <div class="field">
                        <label for="name">Prenom</label>
                        <input type="text" pInputText id="prenom" [(ngModel)]="candidat.name" required autofocus />
                        <small class="p-error" *ngIf="submitted && !candidat.name">prenom is required.</small>
                    </div><br>
                    <div class="field">
                        <label for="name">Email</label>
                        <input type="email" pInputText id="email" [(ngModel)]="candidat.email" required autofocus />
                        <small class="p-error" *ngIf="submitted && !candidat.email">email is required.</small>
                    </div><br>
                    <div class="field">
                        <label for="name">N° téléphone</label>
                        <input type="tel" pInputText id="numTel" [(ngModel)]="candidat.numTel" required autofocus />
                        <small class="p-error" *ngIf="submitted && !candidat.numTel">num tel is required.</small>
                    </div><br>
            
                    <div class="field">
                      <!--<p-multiSelect [options]="groupedSpecialites" [group]="true" [(ngModel)]="selectedCities4" defaultLabel="Select specialité" scrollHeight="250px" display="chip">
                                              <ng-template let-group pTemplate="group">
                                                  <div class="flex align-items-center">
                                                      <img src="../../../../assets/img/{{group.value}} " style="width: 20px"/>
                                                      <span>{{group.label}}</span>
                                                  </div>
                                              </ng-template>
                                          </p-multiSelect>-->

                      <p-multiSelect [options]="listDep" [(ngModel)]="candidat.department" [selectionLimit]="1" defaultLabel="Select departement" optionLabel="name" display="chip" (click)="departementSelected(candidat.department)" ></p-multiSelect>
                       <p-multiSelect [options]="listClass" [(ngModel)]="candidat.classe" defaultLabel="Select classe" optionLabel="name" display="chip" *ngIf="depSelected"></p-multiSelect>
                      <small class="p-error" *ngIf="submitted && !candidat.specialites">specialité is required.</small>
                    </div>
            

                </ng-template>
            
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCandidat()"></button>
                </ng-template>
            </p-dialog>
        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div></div>
<!--<p-toast></p-toast>
<button pButton pRipple type="button" icon="pi pi-user-plus" class="p-button-raised p-button-secondary" (click)="ajouter()"></button>
<br>
<div class="row">
    <div class="col-md-4" id="myCards" *ngFor="let i of counter(5)" style="padding-bottom:30px ;margin-top: 20px;"><!--*ngFor="let candidat of candidats" class="col-md-4"

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width : '320px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/img/faces/marc.jpg" height="250px">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>
    </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>-->