<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container bootstrap snippets bootdeys">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-th fa-3x text-colored"></i>
            <h4>Entrer en contact</h4>
            <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; (+216) 71 460 100<br>
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; <a href="directeuri7rades@gmail.com" class="text-muted">directeuri7rades@gmail.com</a>
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-map-marker fa-3x text-colored"></i>
            <h4>Notre emplacement</h4>

            <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;
            Av. de France, Radès<br>
            Ben Arous, Tunisie<br>
         
          </div>
        </div><!-- end col -->

        <div class="col-sm-4">
          <div class="contact-detail-box">
            <i class="fa fa-book fa-3x text-colored"></i>
            <h4>Institut Supérieur</h4>

            <p>Institut Supérieur des Etudes Technologiques de Rades</p>
          </div>
        </div><!-- end col -->

      </div>
      <!-- end row -->


      <div class="row">
        <div class="col-sm-8">
          <div class="contact-map">
            <iframe src="https://maps.google.com/maps?q=Iset%20Rades&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" style="width: 730px; height: 450px;"></iframe>
          </div>
        </div><!-- end col -->

        <!-- Contact form -->
        <div class="col-sm-4">
            <br>
            <div class="single_address">
                <i class="fa fa-user"></i>
                <h4>Directeur</h4>
                <p>Rachid AMRI</p>
            </div>
            <div class="single_address">
                <i class="fa fa-envelope"></i>
                <h4>Adresse E-mail</h4>
                <p>directeuri7rades@gmail.com</p>
            </div>
            <div class="single_address">
                <i class="fa fa-phone"></i>
                <h4>Telephone</h4>
                <p>(+215) 71 460 100</p>
            </div>
            <div class="single_address">
                <i class="fa fa-clock-o"></i>
                <h4>Temps de travail</h4>
                <p>Lun - Ven: 08.00 - 16.00. <br>Sam: 10.00 - 14.00</p>
            </div>					
        </div><!--- END COL --> 

      </div> <!-- end row -->
      <br>
     
          
    </div>
    <shared-footer></shared-footer>
