<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Contact</h6>
        <span class="text-justify">
        <h3> Directeur : Rachid AMRI</h3>

         <h3> Email : directeuri7rades@gmail.com</h3>

         <h3>Téléphone :  71 46 11 25</h3>

          <h3> BP 172, Rue el Qods, Rades Medina</h3>

          <h3>Téléphone institut : 71 460 100</h3>
        </span>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Liens Utiles</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Aide</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/"></a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/"></a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/"></a></li>
          <li><a href="http://scanfcode.com/category/android/"></a></li>
          <li><a href="http://scanfcode.com/category/templates/"></a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>LIENS RAPIDES</h6>
        <ul class="footer-links">
          <li><a href="#">À propos de nous</a></li>
          <li><a href="#">Nous contacter</a></li>
          <li><a href="#">Contribuer</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="http://www.isetr.rnu.tn/">Iset rades</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; IsetRades2018 (Tous droits réservés) créé et administré par...
          <a href="#">ISET Rades</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
