<!DOCTYPE html>
<html lang="en">
<head>
  <title>Formation-iset rades</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>
<body>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="header">
  <div class="logo">
    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path xmlns="http://www.w3.org/2000/svg"
            d="M512 503.5H381.7a48 48 0 01-45.3-32.1L265 268.1l-9-25.5 2.7-124.6L338.2 8.5l23.5 67.1L512 503.5z"
            fill="#0473ff" data-original="#28b446"/>
      <path xmlns="http://www.w3.org/2000/svg" fill="#0473ff" data-original="#219b38"
            d="M361.7 75.6L265 268.1l-9-25.5 2.7-124.6L338.2 8.5z"/>
      <path xmlns="http://www.w3.org/2000/svg"
            d="M338.2 8.5l-82.2 234-80.4 228.9a48 48 0 01-45.3 32.1H0l173.8-495h164.4z" fill="#0473ff"
            data-original="#518ef8"/>
    </svg>-->
    <!--<img src="https://i.pinimg.com/originals/a7/4a/65/a74a6592ac29c378cc03c600a03fc78e.png" alt="" width="45px"/>-->
    <p>&nbsp;&nbsp;</p>
    <img src="../../../../../assets/img/logo2Clean.png" width="210px" (click)="goHome()">
  </div>
  <div class="header-menu">
<!--    <a href="#" class="active">
&lt;!&ndash;      <a href="#">Nos formations &nbsp;<i class="pi pi-angle-down
"></i>
      </a>

    </a>&ndash;&gt;-->
    <a [routerLink]="['/home/home1']" class="active">Accueil</a>
    <a [routerLink]="['/home/formation']" class="active">Liste des formations</a>
    <a [routerLink]="['/register/candidat']" class="active" *ngIf="this.localStorage1.retrieve('role')!='formateur' && this.localStorage1.retrieve('role')!='candidat' && this.localStorage1.retrieve('role')!='admin'">Espace Candidat</a>
    <a [routerLink]="['/candidat/myList']" class="active" *ngIf="this.localStorage1.retrieve('role')!='formateur' && this.localStorage1.retrieve('role')=='candidat'">Ma liste</a>
    <a [routerLink]="" class="active" *ngIf="this.localStorage1.retrieve('role')!='formateur' && this.localStorage1.retrieve('role')=='candidat'">Mon compte</a>

    <a [routerLink]="['/login/formateur']" class="active"  *ngIf="this.localStorage1.retrieve('role')!='candidat' && this.localStorage1.retrieve('role')!='admin' &&this.localStorage1.retrieve('role')!='formateur'">Espace Formateur</a>
    <a [routerLink]="['/home/contact']" class="active" *ngIf="this.localStorage1.retrieve('role')!='formateur' && this.localStorage1.retrieve('role')!='candidat' ">Contact </a>
    <a [routerLink]="['/formateur/sessions']" class="active" *ngIf="this.localStorage1.retrieve('role')=='formateur'">Mes Sessions de formations</a>
  <a [routerLink]="[]"  class="active" (click)="showDialog()" *ngIf="this.localStorage1.retrieve('role')=='formateur'|| this.localStorage1.retrieve('role')=='candidat' " >Messages</a></div>
  <p-dialog  position="right" [(visible)]="display" >
    <app-messages></app-messages>
  </p-dialog>
<!--  <p-dialog  position="right"  closable="false" width="fit-content" [(visible)]="mod" style="background: rgba(255, 255, 255, 0.244);"  *ngIf="this.localStorage1.retrieve('role')=='formateur'|| this.localStorage1.retrieve('role')=='candidat' " >
    <img src="../../../../../assets/img/chatt.png" width="90px" position="right" (click)="showDialog()">
  </p-dialog>-->







<div class="user-settings">
<!--    <div class="dark-light">
      <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round"
           stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/>
      </svg>
    </div>
  <div class="user-menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square">
      <rect x="3" y="3" width="18" height="18" rx="2" ry="2" /></svg>
  </div>-->
  <div *ngIf="this.localStorage1.retrieve('role')=='formateur' || this.localStorage1.retrieve('role')=='candidat'|| this.localStorage1.retrieve('role')=='admin'">
  <div *ngFor="let file of fileInfos | async">
    <p class="user-profile" *ngIf="testImage(file.type) && file.name == TheCurrentUser.photo">
      <img [src]="file.url"  alt="file.name" />
    </p>
  </div>
</div>
  <div class="user-name" *ngIf="this.localStorage1.retrieve('role')=='formateur' || this.localStorage1.retrieve('role')=='candidat' || this.localStorage1.retrieve('role')=='admin'" (click)="goToProfil()">{{TheCurrentUser.firstName}} {{TheCurrentUser.lastName}}</div>
    <div class="user-name">
      <button class="custom-btn btn-11"  [routerLink]="['/register/candidat']" *ngIf="(this.localStorage1.retrieve('role')!='formateur' && this.localStorage1.retrieve('role')!='candidat') && this.localStorage1.retrieve('role')!='admin'">S'inscrire &nbsp; <i class=" pi pi-arrow-right">
      </i>
        <div class="dot"></div>
      </button>
      <button class="custom-btn btn-11"
              *ngIf="this.localStorage1.retrieve('role')=='formateur' || this.localStorage1.retrieve('role')=='candidat' || this.localStorage1.retrieve('role')=='admin'" (click)="confirm()" style="padding: 0px;">Se déconnecter &nbsp;<i class=" pi pi-unlock">
      </i>
        <div class="dot"></div>
      </button>


    </div>
  </div>
</div>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</html>
