          <p-confirmDialog  ></p-confirmDialog>
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="main-content">
  <div class="container-fluid">
<div class="row">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-book"></i></div>
                            <div class="mb-4">
                                <h2 class="card-title mb-0">Formations</h2>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                      <span style="font-size: 12px;"> nombre totale : </span>&nbsp;&nbsp; {{nbFormations}}
                                    </h2>
                                </div>
                                <div class="col-4 text-right">
                                    <span> {{nbFormationMonth}} <i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [style.width.%]="nbFormationMonth/nbFormations * 100" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-duotone fa-chalkboard"></i></div>
                            <div class="mb-4">
                                <h2 class="card-title mb-0">Session de formations</h2>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <span style="font-size: 12px;"> nombre totale : </span>&nbsp;&nbsp; {{nbSessions}}
                                      </h2>
                                </div>
                                <div class="col-4 text-right">
                                    <span>{{nbSessionMonth}} <i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"  [style.width.%]="nbSessionMonth/nbSessions * 100" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                            <div class="mb-4">
                                <h2 class="card-title mb-0">Formateurs</h2>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <span style="font-size: 12px;"> nombre totale : </span>&nbsp;&nbsp; {{nbFormateurs}}
                                      </h2>
                                </div>
                                <div class="col-4 text-right">
                                    <span>{{nbFormateurMonth}} <i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [style.width.%]="nbFormateurMonth/nbFormateurs *100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-3">
                            <div class="card-icon card-icon-large"><i class="fas fa-duotone fa-user-graduate"></i></div>
                            <div class="mb-4">
                                <h2 class="card-title mb-0">Candidat</h2>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        <span style="font-size: 12px;"> nombre totale : </span>&nbsp;&nbsp; {{nbCandidats}}
                                      </h2>
                                </div>
                                <div class="col-4 text-right">
                                    <span>{{nbCandidatMonth}} <i class="fa fa-arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [style.width.%]="nbCandidatMonth/nbCandidats *100"></div>
                            </div>
                        </div>
                    </div>
                </div>

      </div>
 <div class = "row" style="margin-left: 50px;">
        <div class="col-lg-6 col-md-12">
            <br>
            <div class="card">
                <h2> &nbsp;Statistique des sessions de formations par mois</h2>
                <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
            </div>
        </div>
        <div style="width: 60px;"></div>
        <div class="col-lg-4 col-md-12" id="pie">
            <h2>Nombre des candidats par département</h2>
            <p-chart type="pie" [data]="data" [options]="chartOptions"></p-chart>
            <br>
        </div>
      </div>
      <br>

      <div class="row">

          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Les meilleures sessions</h4>
                      <p class="card-category">Selon l'evaluation des candidats</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover" >
                          <thead class="text-warning" style="text-align: center;">
                              <th>Photo</th>
                              <th>Titre</th>
                              <th>Formation</th>
                              <th>Formateur(s)</th>
                              <th>Evaluation</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let res of seRate">
                                <td>
                                    <div class="d-flex align-items-center">
                                      <div *ngFor="let file of fileInfos | async">
                                        <p class="list-group-item" *ngIf="testImage(file.type) && file.name == res.photoSession">
                                          <img [src]="file.url"
                                          alt=""
                                          style="width: 140px; height:85px;"
                                         
                                          />
                                        </p>
                                      </div>
                                      </div>

                                </td>
                                  
                                  <td>{{res.titreSession}}</td>
                                  <td>{{res.formationSession.titre}}</td>
                                  <td>
                                    <ul *ngFor="let f of res.listeFormateurs">
                                        <li>{{f.lastName}} {{f.firstName}}</li>
                                    </ul>
                                  </td>
                                  <td>
                                    <p-rating [ngModel]="res.nbMaxCandidat" readonly="true" stars="5" [cancel]="false"></p-rating>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
