<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Personal Information
        </ng-template> 
        <ng-template pTemplate="subtitle">
            Enter your personal information
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid" class="field">
                    <label for="firstname">Firstname</label>
                    <input #firstname="ngModel" id="firstname" type="text" required pInputText [(ngModel)]="firstName"> 
                    <small *ngIf="(firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)" class="p-error">Firstname is required.</small>
                </div>
                <div class="field">
                    <label for="lastname">Lastname</label>
                    <input #lastname="ngModel" id="lastname" type="text" required pInputText [(ngModel)]="lastName"> 
                    <small class="p-error" *ngIf="(lastname.invalid && submitted )|| (lastname.dirty && lastname.invalid)">Lastname is required.</small>
                </div>
<!--                <div class="field">
                    <label for="age">Age</label>
                    <input #age="ngModel" id="age" type="number" required pInputText [(ngModel)]="personalInformation.age" [ngClass]="{'ng-dirty': (age.invalid && submitted) || (age.dirty && age.invalid)}"> 
                    <small class="p-error" *ngIf="(age.invalid && submitted) || (age.dirty && age.invalid)">Age is required.</small>
                </div>-->
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

<!--<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Personal Information
        </ng-template> 
        <ng-template pTemplate="subtitle">
            Enter your personal information
        </ng-template>
        <ng-template pTemplate="content">
            <div class="field">
              <label for="cin">CIN</label>
              <div >
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <p-inputNumber id="cin" [(ngModel)]="formateur.username" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [maxlength]="8" placeholder="Numero de carte d'identité">
                </p-inputNumber>  
                        
                </div>
                <small class="p-error" *ngIf="submitted && !formateur.username">cin est requis.</small>
                <small class="p-error" *ngIf="submitted && formateur.username.toString().length < 8">cin doit etre composer de 8 chiffres.</small>
            </div>
                
            </div><br>
            <div style="display: flex;">
            <div class="field">
                <label for="nom">Nom</label>
                <div >
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input type="text" pInputText id="nom" [(ngModel)]="formateur.lastName" required placeholder="nom" />
                             
                  </div>
              </div>
              <small class="p-error" *ngIf="submitted && !formateur.lastName">nom est requis.</small>
            </div>
            <div class="field">
                <label for="prenom">Prenom</label>
                <div>
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                      <input type="text" pInputText id="prenom" [(ngModel)]="formateur.firstName" required  placeholder="prenom"/>
                          
                  </div>
              </div>
                
                <small class="p-error" *ngIf="submitted && !formateur.firstName">prenom est requis.</small>
            </div>
          </div><br>
            <div class="field">
                <label for="email">Email</label>
                <div >
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                      <input type="email" pInputText id="email" [(ngModel)]="formateur.email" required placeholder="adresse e-mail"/>
                          
                  </div>
                  <small class="p-error" *ngIf="submitted && !formateur.email">email est requis.</small>
              </div>
                
                
            </div><br>
            <div style="display: flex;" >
            <div class="field">
              
                <label for="numTel">N° téléphone</label>
                <div >
                <div style="display: flex;">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                  <p-inputMask mask="99-999-999" [(ngModel)]="formateur.numTel" placeholder="99-999-999"></p-inputMask>
                </div>
                  <small class="p-error" *ngIf="submitted && !formateur.numTel">num tel est requis.</small>
                </div> </div><br>
            <div class="field">
              <label for="dateNaiss">Date de naissance</label>
              <div >
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                    <input type="date" pInputText id="dateNaiss" [(ngModel)]="formateur.dateNaiss"  max="2018-12-31"/>
                        
                </div>
                <small class="p-error" *ngIf="submitted && !formateur.dateNaiss">date naissance est requis.</small>
            </div>
                
               
          </div>
            </div><br>
          <div class="field">
           
            <div class="gender-details">
              <input type="radio" name="gender" id="dot-1" value="Homme" [(ngModel)]="homme">
              <input type="radio" name="gender" id="dot-2" value="Femme" [(ngModel)]="femme">
              <label for="gender">Genre</label>
              <div class="category">
                <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">&emsp;<i class="fa fa-solid fa-mars"></i> Homme </span>
              </label> 
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">&emsp;<i class="fa fa-solid fa-venus"></i> Femme </span>
              </label>
              </div>
            </div>
          </div>  
          <div style="display: flex;">  
          <div class="field" *ngIf="formateur.id == null && !autre ">
            <div >
              <div style="display: flex;">
                  <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                  <p-multiSelect [options]="listEtablissement" [(ngModel)]="selectedEtablissement" [selectionLimit]="1" optionLabel="name" defaultLabel="Choisir l'etablissement" display="chip" (click)="selectEtab()">
                                          <ng-template let-etab pTemplate="item">
                                              <div style="display:flex;">
                                                  <img src="../../../../assets/img/etablissement/{{etab.code}} " style="width: 25px; margin-right: 10px;margin-left: 5px;"/>
                                                  <div>{{etab.name}}</div>
                                              </div>
                                          </ng-template>
                                      </p-multiSelect>
              </div>
            </div>
            <small class="p-error" *ngIf="submitted && !formateur.etablissement">etablissement est requis.</small>
          </div>     
          <div class="field" *ngIf="formateur.id || autre">
            <div >
              <div style="display: flex;">
                  <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                  <input type="text" pInputText id="etab" [(ngModel)]="formateur.etablissement" required placeholder="saisi l'etablissement" autofocus/>
                      
              </div>
              <small class="p-error" *ngIf="submitted && !formateur.etablissement">etablissement est requis.</small>
          </div>
                
                
          </div>  
                  <div class="field">
                <label class="mb-3">Specialite</label>
                <p-multiSelect [options]="specialites" [(ngModel)]="formateur.specialites" defaultLabel="Select specialité" optionLabel="titre" selectedItemsLabel="{0} items selected" required></p-multiSelect>
                <small class="p-error" *ngIf="submitted && !formateur.specialites">specialité est requis.</small>
            </div
            <div class="field">
                <div >
                  <div style="display: flex;">
                      <span class="p-inputgroup-addon"><i class="pi pi-sitemap"></i></span>
                    <p-multiSelect [options]="specialites" [(ngModel)]="formateur.lesSpecialites" defaultLabel="Select a specialite" optionLabel="titre" display="chip" [style]="{maxWidth: '200px'}"></p-multiSelect>
                  </div>
                    <small class="p-error" *ngIf="submitted && !formateur.lesSpecialites">specialité est requis.</small>
                </div></div>    </div><br>
                  <div class="field">
                   
                    
                    <label class = "label-file"><i class="pi pi-external-link"></i> Ajouter CV format PDF
                      <input type="file" class="input-file" accept="application/pdf" (change)="selectFile($event)"/>
                    </label>
                    <div *ngIf="formateur.cv">
                      <p>{{formateur.cv}}</p>
                    </div>
      
                    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
                      Upload
                    </button>
                    <div *ngIf="currentFile" class="progress">
                      <div
                        class="progress-bar progress-bar-info progress-bar-striped"
                        role="progressbar"
                        attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }">
                        {{ progress }}%
                      </div>
                    </div>
                    <div class="alert alert-light" role="alert" *ngIf="message != ''">{{ message }}</div>
      
                    <div class="card">
                      <div class="card-header">List of Files</div>
                      <ul
                        class="list-group list-group-flush"
                        *ngFor="let file of fileInfos | async">
                        <li class="list-group-item">
                       <a href="{{ file.url }}">{{ file.name }}</a>
                        </li>
                      </ul>
                    </div><br>
                      </div>
      
              </ng-template>
          
              <ng-template pTemplate="footer">
                  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-help p-button-text" (click)="hideDialog()"></button>
                  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-help p-button-text" (click)="saveFormateur()"></button>
              </ng-template>
          </p-card>
      </div>-->