
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!--<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Chat app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav>
</header>

<main class="chat">
  <div class="container">
    <div class="chat-content">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let chatMessageSaved of ListChat">
            <strong>{{chatMessageSaved.userChat}}: </strong>
            <span>{{chatMessageSaved.messageChat}}</span>
          </li>
          <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
            <strong>{{chatMessage.user}}: </strong>
            <span>{{chatMessage.message}}</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-2">
          <input type="text" class="form-control" name="user" id="input-user1" ngModel>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="message" id="input-message1" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
  <button (click)="ngOnDestroy()"> v</button>
</main>-->


<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Quickchat UI Themes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>
<main>
  <!-- partial:index.partial.html -->
  <!--<div class="app-container">


    <div class="app-main">

      <div class="chat-wrapper">
        <div *ngFor="let chatMessageSaved of ListChat">
          <ng-container
            *ngIf="chatMessageSaved.userChat==this.localStorage.retrieve('username'); then template1 else template2"></ng-container>
          <ng-template #template1>
            <div class="message-wrapper reverse">
              <img class="message-pp"
                   src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                   alt="profile-pic">
              <div class="message-box-wrapper">
                <span>  {{chatMessageSaved.userChat}}:</span>
                <div class="message-box">
                  {{chatMessageSaved.messageChat}}  </div>
                <span>9h ago</span>
              </div>
            </div>
          </ng-template>
          <ng-template #template2>
            <div class="message-wrapper">
              <img class="message-pp"
                   src="https://images.unsplash.com/photo-1587080266227-677cc2a4e76e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                   alt="profile-pic">
              <div class="message-box-wrapper">
                <span>  {{chatMessageSaved.userChat}}:</span>
                <div class="message-box">
                  {{chatMessageSaved.messageChat}}  </div>
                <span>9h ago</span>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngFor="let chatMessage of webSocketService.chatMessages">
          <ng-container
            *ngIf="chatMessage.user==this.localStorage.retrieve('username'); then template1 else template2"></ng-container>
          <ng-template #template1>
            <div class="message-wrapper reverse">
              
              
              <div class="message-box-wrapper">
                <span>  {{chatMessage.firstName}}{{chatMessage.lastName}}:</span>
                <div class="message-box" style="max-width: 100%" >
                  {{chatMessage.message}}  </div>
                <span>9h ago</span>
              </div>
              <span *ngFor="let file of fileInfos | async">
                <p *ngIf="testImage(file.type) && file.name == chatMessage.photo">
                  <img class="message-pp" [src]="file.url"
                  alt="profile-pic"
                  />
                </p>
              </span>
            </div>
          </ng-template>
          <ng-template #template2>
            <div class="message-wrapper">
              <img class="message-pp"
                   src="https://images.unsplash.com/photo-1587080266227-677cc2a4e76e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80"
                   alt="profile-pic">
              <div class="message-box-wrapper" style="max-width: 100%" >
                <span>  {{chatMessage.user}}:</span>
                <div class="message-box">
                  {{chatMessage.message}}  </div>
                <span>9h ago</span>
              </div>
            </div>
          </ng-template>





        </div>
        
      </div>

      <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">

        <div class="chat-input-wrapper">

          <div class="input-wrapper">
            <input type="text" class="chat-input" placeholder="Entrer vos messages ici"  name="message" id="input-message" ngModel  width="500px">
          </div>
          <button type="submit" class="chat-send-btn">Send</button>

        </div>
      </form>
    </div>






  </div>-->

  <!-- partial -->
</main>
<div>
  <!-- DIRECT CHAT DANGER -->
  <div class="box box-danger direct-chat direct-chat-danger">
    <div class="box-header with-border"><img src="../../../../assets/img/chat.png" width="60px" alt="Message User Image">
      <h3 class="box-title">Chat Direct</h3>

      <div class="box-tools pull-right">
        <span data-toggle="tooltip" title="{{webSocketService.chatMessages.length + ListChat.length}} Messages" class="badge bg-red">{{webSocketService.chatMessages.length + ListChat.length}}</span>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
          <i class="fa fa-comments"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <!-- Conversations are loaded here -->
      <div class="direct-chat-messages">
        <div class="direct-chat-msg right">
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-right">Bienvenue dans notre chat</span>
            <span class="direct-chat-timestamp pull-left">{{convertDateFormat1()}}</span>
          </div>
          <!-- /.direct-chat-info -->
          <img class="direct-chat-img" src="../../../../assets/img/helloIcon.png" alt="Message User Image"><!-- /.direct-chat-img -->
          <div class="direct-chat-text" style="background: linear-gradient(rgb(255, 25, 0), rgb(246, 155, 172));">
            N'hesitez pas de poser vos questions
          </div>
          <!-- /.direct-chat-text -->
        </div>
        <!-- Message. Default to the left -->
        <div class="direct-chat-msg" *ngFor="let chatMessage of ListChat">
          <div class="direct-chat-msg right" *ngIf="chatMessage.userChat == currentUser">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">{{chatMessage.firstNameUser}} {{chatMessage.lastNameUser}}: <span style="font-size: 10px;color : red">{{chatMessage.roleUser}}</span></span>
              <span class="direct-chat-timestamp pull-left">{{convertDateFormat(chatMessage.dateEnvoi)}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <span *ngFor="let file of fileInfos | async">
              <p *ngIf="testImage(file.type) && file.name == chatMessage.photoUser">
                <img class="direct-chat-img" [src]="file.url"
                alt="profile-pic"
                />
              </p>
            </span>
            <div class="direct-chat-text">
              {{chatMessage.messageChat}}
            </div>
            <!-- /.direct-chat-text -->
          </div>
          <div *ngIf="chatMessage.userChat != currentUser">
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">{{chatMessage.firstNameUser}} {{chatMessage.lastNameUser}}: <span style="font-size: 10px;color : red">{{chatMessage.roleUser}}</span></span>
            <span class="direct-chat-timestamp pull-right">{{convertDateFormat(chatMessage.dateEnvoi)}}</span><!--23 Jan 2:00 pm-->
          </div>
          <!-- /.direct-chat-info -->
          <span *ngFor="let file of fileInfos | async">
            <p *ngIf="testImage(file.type) && file.name == chatMessage.photoUser">
              <img class="direct-chat-img" [src]="file.url"
              alt="profile-pic"
              />
            </p>
          </span>
          <div class="direct-chat-text">
            {{chatMessage.messageChat}}
          </div>
        </div>
          <!-- /.direct-chat-text -->
        </div>
        <div class="direct-chat-msg" *ngFor="let chatMessage of webSocketService.chatMessages">
          <div class="direct-chat-msg right" *ngIf="chatMessage.user == currentUser">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">{{chatMessage.firstName}} {{chatMessage.lastName}}: <span style="font-size: 10px;color : red">{{chatMessage.role}}</span></span>
              <span class="direct-chat-timestamp pull-left">{{convertDateFormat(chatMessage.dateEnvoi)}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <span *ngFor="let file of fileInfos | async">
              <p *ngIf="testImage(file.type) && file.name == chatMessage.photo">
                <img class="direct-chat-img" [src]="file.url"
                alt="profile-pic"
                />
              </p>
            </span>
            <div class="direct-chat-text">
              {{chatMessage.message}}
            </div>
            <!-- /.direct-chat-text -->
          </div>
          <div *ngIf="chatMessage.user != currentUser">
            <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">{{chatMessage.firstName}} {{chatMessage.lastName}}: <span style="font-size: 10px;color : red">{{chatMessage.roleUser}}</span></span>
            <span class="direct-chat-timestamp pull-right">{{convertDateFormat(chatMessage.dateEnvoi)}}</span>
          </div>
          <!-- /.direct-chat-info -->
          <span *ngFor="let file of fileInfos | async">
            <p *ngIf="testImage(file.type) && file.name == chatMessage.photo">
              <img class="direct-chat-img" [src]="file.url"
              alt="profile-pic"
              />
            </p>
          </span>
          <div class="direct-chat-text">
            {{chatMessage.message}}
          </div></div>
          <!-- /.direct-chat-text -->
        </div>
        <!-- /.direct-chat-msg -->

        <!-- Message to the right -->
        
        <!-- /.direct-chat-msg -->
      </div>
      <!--/.direct-chat-messages-->

      <!-- Contacts are loaded here -->
      <div class="direct-chat-contacts">
        <ul class="contacts-list">
          <li>
            <a href="#">
              <img class="contacts-list-img" src="https://bootdey.com/img/Content/user_1.jpg">

              <div class="contacts-list-info">
                    <span class="contacts-list-name">
                      Count Dracula
                      <small class="contacts-list-date pull-right">2/28/2015</small>
                    </span>
                <span class="contacts-list-msg">How have you been? I was...</span>
              </div>
              <!-- /.contacts-list-info -->
            </a>
          </li>
          <!-- End Contact Item -->
        </ul>
        <!-- /.contatcts-list -->
      </div>
      <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
        <div class="input-group">
          <input type="text" placeholder="Type Message ..." class="form-control" name="message" id="input-message" ngModel> 
              <span class="input-group-btn">
                <button type="submit" class="btn btn-danger btn-flat">envoyer</button>
              </span>
        </div>
      </form>
    </div>
    <!-- /.box-footer-->
  </div>
  <!--/.direct-chat -->
</div>
</html>

