
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>register candidat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

</head>
<body>
<app-nav-bar></app-nav-bar>
<p-toast></p-toast>
<div class="user-ragistration">
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://i.pinimg.com/originals/a7/4a/65/a74a6592ac29c378cc03c600a03fc78e.png" alt=""/>
        <h3>Bonjour !</h3>
        <h1> découvrir, apprendre, progresser et réussir avec ISET FORMATION</h1>
      </div>
      <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">login</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h1 class="register-heading">{{n}}</h1>

            <form class="row register-form" [formGroup]="signupForm">
              <div class="col-md-4">
                <div class="form-group" >
                  <input type="text" class="form-control" placeholder="CIN *" [formControlName]="'username_signup'"  required
                         oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                         minlength="8" maxlength="8"
                          />
                  <span style="color: #ff3353" *ngIf="!signupForm.get('username_signup').valid && signupForm.get('username_signup').touched" >CIN invalide!<i class="fa-solid fa-circle-x"></i></span>

                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nom *"   [formControlName]="'first_name'" required/>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('first_name').valid && signupForm.get('first_name').touched" >Nom invalide!</span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Prenom *"  [formControlName]="'last_name'" required />
                  <span style="color: #ff3353" *ngIf="!signupForm.get('last_name').valid && signupForm.get('last_name').touched" >prenom invalide!<i class="fa-solid fa-circle-x"></i></span>

                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="email *" type="email"  id="email_signup" name="email_signup" [email]="validateEmail"[formControlName]="'email_signup'"   required/>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('email_signup').valid && signupForm.get('email_signup').touched">email invalide <i class="fa-solid fa-circle-x"></i></span>

                </div>
                <div class="form-group">

                  <input  class="form-control" type="password"  [style]="{'height': '36px'}"   placeholder="mot de passe *"  [formControlName]="'password_signup'"  required  minlength="5" maxlength="100"/>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('password_signup').valid && signupForm.get('password_signup').touched">
                 mot de passe invalide  <i class="fa-solid fa-circle-x"></i>
                </span>
                </div>

         <!--       <div class="form-group">
                  <input type="password" class="form-control"  placeholder="Confirmer mot de passe *" [formControlName]="'repassword'"  required />
                  <span style="color: #ff3353" *ngIf="!signupForm.get('repassword').valid && signupForm.get('repassword').touched">
                 mot de passe invalide  <i class="fa-solid fa-circle-x"></i>
                </span>

                  <span style="color: #ff3353" *ngIf="signupForm.get('repassword').valid && signupForm.get('repassword')!=signupForm.get('password_signup')">
                 mot de passe n'est pas conforme! <i class="fa-solid fa-circle-x"></i>
                </span>
                </div>
-->
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>date naissance</mat-label>
                  <input [formControlName]="'date_naiss'"  matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required [formControlName]="'date_naiss'">
                  <mat-hint>{{signupForm.get("date_nais")}}</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('date_naiss').valid && signupForm.get('date_naiss').touched">
                 date naissance invalide  <i class="fa-solid fa-circle-x"></i>
                </span>


                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input type="radio" name="genre" value="homme" checked required [formControlName]="'genre'"> <!---only one ?--->
                      <span> homme </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="genre" value="femme" [formControlName]="'genre'">
                      <span>femme </span>
                    </label>
                  </div>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('genre').valid && signupForm.get('genre').touched">
                 date naissance invalide  <i class="fa-solid fa-circle-x"></i>
                </span>
                </div>
                <div class="form-group">
                  <input required type="text"  name="phone" class="form-control" placeholder="numero téléphone*"
                         oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                         minlength="8" maxlength="8"
                         [formControlName]="'phone'"/>
                  <span style="color: #ff3353" *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched">
                 numero invalide  <i class="fa-solid fa-circle-x"></i>
                </span>
                </div>
                <div class="form-group">
                    <p-multiSelect required [options]="listDep" [formControlName]="'department'" [selectionLimit]="1" defaultLabel="Select departement" optionLabel="name" display="chip" (click)="departementSelected()" ></p-multiSelect>
                    <span style="color: #ff3353" *ngIf="!signupForm.get('department').valid && signupForm.get('department').touched">
                      departement non selectionée!  <i class="fa-solid fa-circle-x"></i></span>

                  </div>
                <div class="form-group" *ngIf="depSelected">
                    <p-multiSelect required [options]="listClass" [formControlName]="'classe'" defaultLabel="Select classe"  defaultLabel="Select classe" [selectionLimit]="1" optionLabel="name" display="chip" (click)="classeSelected()"></p-multiSelect>
                    <span style="color: #ff3353" *ngIf="!signupForm.get('classe').valid && signupForm.get('classe').touched"></span>
                </div>

                <input type="submit" (click)="signup()"  [disabled]="!signupForm.valid"   [ngClass] = "{'my-color': !signupForm.valid}" class="btnRegister"  value="signup"/>
              </div>
<div class="col-md-1">
  <div class="form-group">
    <div class="circle" *ngIf="!imgURL">
      <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
    </div>
    <div class="circle" *ngIf="imgURL">
      <img class="profile-pic" [src]="imgURL" height="150" alt="aaaaaaaaa">
    </div>

    <label for="file" class="p-image"><i class="fa fa-camera upload-button"></i></label>
        <input  type="file" id="file" class="input-file" accept="image/*" (change)="onUpload($event)" >


</div>
</div>

              <div class="login-failed" *ngIf='this.isError_signup' style="font-size: xx-small;">

                <p-message *ngIf="errors" severity="error" text="{{errors}}"></p-message>
              </div>
            </form>

          </div>




          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h1 class="register-heading">Espace Candidat</h1>
            <div class="row register-form" >
              <form class="col-md-6" [formGroup]="loginForm">

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="CIN *" [formControlName]="'username'"  required
                         oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                         minlength="8" maxlength="8" />
                  <span style="color: #ff3353" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" >CIN invalide!<i class="fa-solid fa-circle-x"></i></span>

                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email *" [email]="validateEmail" [formControlName]="'email'"   required/>
                  <span style="color: #ff3353" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">email invalide <i class="fa-solid fa-circle-x"></i></span>

                </div>
<!--
              <div class="col-md-6">
-->
                <div class="form-group">
                  <input  type="password" class="form-control" placeholder="mot de passe *" [formControlName]="'password'"  required  minlength="5" maxlength="20"/>
                  <span style="color: #ff3353" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                 mot de passe invalide  <i class="fa-solid fa-circle-x"></i>
                </span>
                </div>
                <div class="form-group">
                  <button pButton pRipple type="button" class="p-button-text" (click)="enterEmailDialog = true">mot de passe oublier ?</button>
                </div>
                <input type="submit" class="btnRegister" [disabled]="!loginForm.valid" [ngClass] = "{'my-color': !loginForm.valid}" (click)="login()" value="login"/>

<!--
              </div>
-->
              <div class="login-failed" *ngIf='this.isError' style="font-size: xx-small;">

                <p-message *ngIf="errors" severity="error" text="{{errors}}"></p-message>
              </div>
              </form>

              <p-dialog [(visible)]="enterEmailDialog" [style]="{width: '450px'}" header="Retrouvez votre compte" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="email">Veuillez entrer votre adresse e-mail pour rechercher votre compte.</label>
                        <input type="text" pInputText id="email" [(ngModel)]="email" required autofocus />
                        <small class="p-error" *ngIf="submitted && !email">email est requis.</small>
                        <small class="p-error" *ngIf="!testEmail && email">email inexistant.</small>
                    </div><br>
            
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Rechercher" icon="pi pi-check" class="p-button-text" (click)="valider(email)"></button>
                </ng-template>
            </p-dialog>
            <p-dialog [(visible)]="verifierEmailDialog" [style]="{width: '450px'}" header="Réinitialiser votre mot de passe" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
              <ng-template pTemplate="content" style="display: flex;">
                <div style="width: 55%;float: right;">
                <p>vous allez recevoir votre code de réinitialisation du mot de passe par e-mail à:</p>
                <p><img src="../../../../../../assets/img/email.png" width="50px">{{email}}</p>
              </div>
                <div>
                  <div style="width:40%;float: left;">
                  <div *ngFor="let file of fileInfos | async" >
                    <p class="list-group-item" *ngIf="testImage(file.type) && file.name == cand.photo">
                      <img [src]="file.url"
                      alt=""
                      style="width: 100px; height:100px;padding-left: 7%;"
                      />
                    </p>
                  </div>
                  <p style="text-align : center">{{cand.firstName}} {{cand.lastName}}</p></div>
              </div>
                  
                  <br>
          
              </ng-template>
          
              <ng-template pTemplate="footer">
                  <button pButton pRipple label="Ce n'est pas vous" icon="pi pi-times" class="p-button-text" (click)="PasMoiDialog()"></button>
                  <button pButton pRipple label="Continuer" icon="pi pi-check" class="p-button-text" (click)="envoyer(cand)"></button>
              </ng-template>
          </p-dialog>
          <p-dialog [(visible)]="verifierCodeDialog" [style]="{width: '450px'}" header="Verifier code" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="code">Merci de vérifier dans vos e-mails que vous avez reçu un message avec votre code. Celui-ci est composé de 8 chiffres</label>
                    <input type="text" pInputText id="code" [(ngModel)]="code" required autofocus placeholder="entrer le code" maxlength="8"/>
                    <small class="p-error" *ngIf="submitted && !code">code est requis.</small>
                    <small class="p-error" *ngIf="!confirmCode && code">code Invalide.</small>
                </div><br>
                <label>Nous avons envoyé votre code à : <strong>{{email}}</strong></label>
                <button pButton pRipple type="button" class="p-button-text" (click)="envoyer(cand)">Renvoyer le code</button>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="annuler()"></button>
                <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="verifierCode(code)"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="changePasswordDialog" [style]="{width: '450px'}" header="Choisissez un nouveau mot de passe" [modal]="true" styleClass="p-fluid" [closable]="false" [responsive]="true">
          <ng-template pTemplate="content">
            <div class="field">
              <label>Nouvelle mot de passe</label><br>
           <p-password [(ngModel)]="password" [toggleMask]="true" required #pass="ngModel">
               <ng-template pTemplate="footer">
                   <p-divider></p-divider>
                   <p class="mt-2"><strong>au minimum :</strong> </p>
                   <ul class="pl-2 ml-1 mt-0" style="line-height: 1.3; font-size: small;">
                       <li>un caractére minuscule</li>
                       <li>un caractére majuscule</li>
                       <li>un caractére numerique</li>
                       <li>8 caractéres</li>
                   </ul>
               </ng-template>
           </p-password>
           <small class="p-error" *ngIf="!password && submitted">&nbsp; mot de pass est requis</small>
           <!--<p-message severity="success" *ngIf="pass.valid && !pass.errors"> mot de pass valide</p-message>-->
          </div><br>
          <div class="field">
           <label>Confirmer votre mot de pass </label> <br>
           <p-password [(ngModel)]="password2" [feedback]="false" (keyup)="confirmPass()" [toggleMask]="true" required  #confrimPassword="ngModel"></p-password>
           <small class="p-error" *ngIf="!password2 && submitted">&nbsp;mot de pass est requis</small>
           <p-message severity="success" *ngIf="confrimPassword.valid && confirm"> mot de pass valide</p-message>
           <br><small class="p-error" *ngIf="!confirm">mot de pass incorrecte</small>
           
       </div>
              <br>
              
          </ng-template>
      
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="Retour()"></button>
              <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text" (click)="ChangePassword()"></button>
          </ng-template>
      </p-dialog>
        
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
</html>
