<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Profile</h4>
                      <p class="card-category">Completez votre profile</p>                     
                  </div>
                  <div class="card-body">
                     <br>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput  placeholder="Admin ISET Rdaes" disabled >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CIN" [(ngModel)]="TheCurrentUser.username" >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Adresse Email" type="email"  [(ngModel)]="TheCurrentUser.email" >
                                  </mat-form-field>
                              </div>
                          </div><br>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" type="text" [(ngModel)]="TheCurrentUser.lastName" >
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="prénom" type="text" [(ngModel)]="TheCurrentUser.firstName">
                                </mat-form-field>
                              </div>
                          </div><br>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input  type="number "matInput placeholder="numéro téléphone" type="text"  [(ngModel)]="TheCurrentUser.numTel">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="dateNaiss" type="date" [(ngModel)]="TheCurrentUser.dateNaiss">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                      <label style="margin-top: 10%">
                                        <input type="radio" name="genre" value="homme" [(ngModel)]="homme">
                                        <span>  homme &nbsp; </span>
                                      </label>
                                      <label >
                                        <input type="radio" name="genre" value="femme" checked [(ngModel)]="femme">
                                        <span>femme </span>
                                      </label>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-12">
                                <label>A propos de moi</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="" [(ngModel)]="TheCurrentUser.bio"></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateAdmin()">Update Profile</button>
                          <div class="clearfix"></div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                    <div class="circle" *ngIf="TheCurrentUser.photo == '' && !imgURL">
                      <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                    </div>
                    <div class="circle" *ngIf="imgURL">
                      <img class="profile-pic" [src]="imgURL" height="150" alt="aaaaaaaaa">
                    </div>
                   <div class="circle" *ngIf="TheCurrentUser.photo">
                    <div *ngFor="let file of fileInfos | async">
                      <p *ngIf="testImage(file.type) && file.name == TheCurrentUser.photo">
                        <img [src]="file.url"
                        />
                      </p>
                    </div></div>
                    <label for="file" class="p-image"><i class="fa fa-camera upload-button"></i></label>
                        <input  type="file" id="file" class="file-upload" accept="image/*" (change)="onUpload($event)">
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{TheCurrentUser.username}}</h6>
                      <h4 class="card-title">{{TheCurrentUser.firstName}} {{TheCurrentUser.lastName}}</h4>
                      <p class="card-description">
                        {{TheCurrentUser.bio}}
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

